*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container_12{
    width: 1520px;
    margin: 0 auto;
    min-height: 3000px;
    background-color: rgb(221, 210, 210);
    
}
/* ĐẦU TRANG: LOGO, TÌM KIẾM,ACCOUNT, GIOHANG */
header{
    width: 100%;
    height: 65px;
    background-color: Linen ;
}
.logo{
    width: 9%;
    height: 65px;
    float: left;
   
}
.logo img{
    width: 110%;
    margin-left: -10px;
}
.header{
    width: 50%;
    height: 65px;
    float: left;
    margin-left: 10%;
}
.header .header-search{
    flex: 4;
    display: flex;
    margin-left: 0px;
    width: 100%;
    
}

.header-pn-search{
    font-size: 20px;
    color: rgb(68, 50, 50);
    position: relative;
    right: 80px;
    top: 18px;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
}

.header .header-pn-search:hover{
    opacity: 0.8;
}


.header .header-search-ptn{
    width:100%;
    height: 30px;
    text-align: left;
    margin:18px 38px;
    font-size: 14px;
    padding: 8px 18px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0.05);  
}
.account{
    width: 11%;
    height: 65px;
    
    float: left;
    margin-left: 190px;
    position: relative;
}
.account i{
    
    font-size: 45px;
    color: black;
    left: 60px;
    
    position: relative;
    
    
}
.link>a:hover{
    color: gray;
}
.link>a{
    margin-left: 5px;
    text-decoration: none;
    font-size: 14px;
    color: black;
    
    
}

.giohang{
    width: 6%;
    height: 65px;
   
    float: right;
    margin-right: 5px;
    position: relative;
}
.giohang i{
    font-size: 45px;
    color: black;
    right: -22px;
    top: 0px;
    position: relative;
}
.giohang .cart>a{
    margin-left: 10px;
    text-decoration: none;
    font-size: 14px;
    color: black;
    
}
.cart>a:hover{
    color: gray;
}
/* KẾT THÚC ĐẦU TRANG */
/* MENU */
nav{
    width: 100%;
    float: left;
    height: 40px;
    margin-top:70px;
    background-color: dimgray;
    margin-top: 1px;
}
.hmenu{
    list-style: none;
    text-align: center;
    
}
.hmenu>li{
    display: inline-block;
    margin: 0 60px;
    position: relative;
}
.hmenu>li>a{
    text-decoration: none;
    font-size: 1.2em;
    color: #EEE;
    display: block;
    padding:10px 5px;
}
.hmenu>li>a:hover{
    color: rgb(241, 195, 148);
    font-weight: bold;
}
.hmenu>li:hover .smenu{
    display: block;
}
.smenu{
    list-style: none;
    position: absolute;
    top: 40px;
    left : -20px;
    width: 200px;
    background-color: white;
    padding: 10px 20px;
    display: none;
    z-index: 10;
}
.smenu>li{
    display: block;

    border-bottom: 1px solid rgb(129, 122, 122);
}
.smenu>li>a{
    text-decoration: none;
    color: gray;
    font-size: 1.2em;
    padding: 10px 0 10px;
    display: block;
}
.hmenu .smenu>li:hover{
    background-color: rgb(230, 152, 144);
}
/* KẾT THÚC MENU */
.sach1{
    width: 100%;
    height:900px;
    background-color: rgb(253, 250, 251);
    margin-top: -40px;
}
.sach2{
    width: 100%;
    height:900px;
    background-color: rgb(93, 144, 221);
    
}
.oo1{
    width: 95%;
    height:700px;
    background-color: rgb(233, 125, 106);
    margin-top: 60px;
    margin-left: 35px;
}
.img{
    width: 40%;
    height:700px;
    background-color: rgb(211, 166, 121);
    margin-top: 100px;
    margin-left: 10px;
}
.img img{
    width:  480px;
    height: 650px;
    margin-top: 25px;
    margin-left: 25px;
}
.ban{
    width: 60%;
    height:350px;
    background-color: rgb(238, 211, 123);
    margin-top: -700px;
    margin-left: 580px;
}
.ban h4{
    font-size: 40px;
}
.ban p{
    margin-top: 10px;
    font-size: 25px;
}
.ban b{
    font-size: 35px;
    color:brown;
}
.giam-gia{
    color: rgb(201, 13, 13);
    font-size: large;
    font-weight: bolder;
    font-size: 35px;
}
.giam-gia del{
    color: gray;
}
.mua{
    width: 60%;
    height:350px;
    background-color: rgb(123, 238, 226);
    margin-top: -1px;
    margin-left: 580px;
}